<html>

<head>
    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text_style{
            color: black;
            font-size: large;
            font-weight: 600;
        }

        .myImg{
            width: 900px;
            height: 720px;
            margin-right: 0px;
        }
    </style>
</head>

<body>
    <div>
        <img src="images/AboutUsBackground.jpg" alt="Img not found" class="myImg">
        <p class="centered text_style">
            The flowers of Simcha Podolsky is the best flowers in the world.<br>
            Our chain of stores is spread around the world.
            We sell our flowers to every one.
        </p>

    </div>
</body>

</html>