<% for(var i=0; i < flowersCatalog.length; i++) { %>
<div class="card">

    <h3><%= flowersCatalog[i].name %></h3>

    <h5>שנת לימודים: <%= flowersCatalog[i].picture %></h5>
    <div style="margin: 24px 0;">
        <a href="#" class="social"><i class="fa fa-dribbble"></i></a>
        <a href="#" class="social"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
    </div>
</div>
<% } %>