<title>חנות הפרחים של שמחה</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px
  }

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }

    .row.content {
      height: auto;
    }
  }

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 55px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text],
  .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus,
  .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
</style>
<script>
  function openCloseForm(formName) {
    var signupForm = document.getElementById("signupFormDiv");
    var loginForm = document.getElementById("loginFormDiv");
    if (formName === "signupFormDiv") {
      console.log(signupForm);
      if (signupForm.style.display == "block") {
        signupForm.style.display = "none";
      } else {
        signupForm.style.display = "block";
        loginForm.style.display = "none"
      }
    } else if (formName === "loginFormDiv") {
      if (loginForm.style.display == "block") {
        loginForm.style.display = "none";
      } else {
        loginForm.style.display = "block";
        signupForm.style.display = "none"
      }
    }
  }

  document.addEventListener('mouseup', function (e) {
    var signupForm = document.getElementById("signupFormDiv");
    var loginForm = document.getElementById("loginFormDiv");
    if (!document.getElementById("notLoggedIn").contains(e.target)) {
      if (!signupForm.contains(e.target)) {
        signupForm.style.display = 'none';
      }
      if (!loginForm.contains(e.target)) {
        loginForm.style.display = 'none';
      }
    }
  });

  async function login() {
    try {
      console.log("Enter login func");
      let userMail = document.getElementById("email").value;
      let userPassword = document.getElementById("psw").value;
      let data = { "email": userMail, "password": userPassword };
      console.log(userMail + "\n" + userPassword);
      console.log("innerlogin");
      let res = await fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      });
      let detailes = await res.json();
      let status = await res.status;
      if (status === 200) {
        console.log(window.location);
        window.location.href = '/#username=' + userMail;
        document.getElementById("loginFormDiv").style.display = "none";
        document.getElementById("loginForm").reset();
        document.getElementById("notLoggedIn").style.display = "none";
        document.getElementById("loggedIn").style.display = "block";
        document.getElementById("helloUser").innerText = "Hello " + userMail;
      } else if (status === 401) {
        alert(detailes.msg)
      }
      console.log(detailes);
    }

    catch (err) {
      console.log(err);
      console.log("Enter login catch");
    }
  }

  function logout() {
    document.getElementById("notLoggedIn").style.display = "block";
    document.getElementById("loggedIn").style.display = "none";
    document.getElementById("helloUser").innerText = "";
  }
</script>