<title>חנות הפרחים של שמחה</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px
  }

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }

    .row.content {
      height: auto;
    }
  }

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 55px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text],
  .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus,
  .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
</style>

<script>
  $(document).ready(function () {

    $(window).on("load", async function () {
      if (user) {
        $('#loginFormDiv').css("display", "none");
        $('#loginForm').trigger('reset');
        $('#notLoggedIn').css("display", "none");
        $('#loggedIn').css("display", "block");
        let c = user.replace(/&#34;/g,'"');
        let oo = JSON.parse(c);
        $('#helloUser').html("Hello " + oo.name);
      }
      console.log('user: ' + user);
    });

    $('#header').on("load", async function () {
      let res = await fetch('/', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json'
        },
        responseType: 'json'
      });
    });

    $('#root').mouseup(function (event) {
      let notLoggedIn = $('#notLoggedIn');
      let loginForm = $('#loginFormDiv');
      if (!notLoggedIn.has(event.target).length > 0) {
        if (!loginForm.has(event.target).length > 0) {
          loginForm.css("display", "none");
        }
      }
    });

    $('#login').on('click', function () {
      let loginForm = $('#loginFormDiv');
      if (loginForm.css("display") === "block") {
        $('#loginFormDiv').css("display", "none");
      } else {
        $('#loginFormDiv').css("display", "block");
      }
    });

    $('#logbtn').on('click', async function (event) {
      console.log("Enter login func");
      let userMail = $('#email').val();
      let userPassword = $('#psw').val();
      let data = { "email": userMail, "password": userPassword };
      try {
        let res = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
        });
        let detailes = await res.json();
        let status = await res.status;
        if (status === 200) {
          console.log(window.location);
          var newurl = window.location.pathname + '?username=' + userMail;
          window.history.pushState({ path: newurl }, '', newurl);
          $('#loginFormDiv').css("display", "none");
          $('#loginForm').trigger('reset');
          $('#notLoggedIn').css("display", "none");
          $('#loggedIn').css("display", "block");
          $('#helloUser').html("Hello " + userMail);
        } else if (status === 401) {
          alert(detailes.msg)
        }
        console.log(detailes);
      } catch (e) {
        console.log(e);
        console.log("Enter login catch");
      }
    });

    $("#contactUs").on('click', function () {
      $.ajax({
        url: "simcha.ejs", success: function (result) {
          $("#simcha").html(result);
        }
      });
    });

    $('#logOut').on('click', function () {
      var newurl = window.location.pathname;
      window.history.pushState({ path: newurl }, '', newurl);
      $('#notLoggedIn').css("display", "block");
      $('#loggedIn').css("display", "none");
      $('#helloUser').innerText = "";
    });
  });
</script>