<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div id="main" class="col-sm-8 text-left" > 
       <hr>
      <p><% include aboutUs %></p>
    </div>
    <div class="col-sm-2 sidenav">
      <div id="simcha">
       
      </div>
      <div >
        
      </div>
    </div>
  </div>
</div>

<div id="about">

</div>
<div id="contac">

</div>
<div id="flowers">

</div>
<div id="users">

</div>
<div id="stores">

</div>