<!DOCTYPE html>
<html lang="he">
	<head>
    	<% include partials/head %>
	</head>
	<body>
	    <header>
	        <% include partials/header  %>
	    </header>
	    <main>
	    	 <% include partials/main  %>
	    </main>
	    <footer>
	        <% include partials/footer %>
	    </footer>
	</body>
</html>